.iconTxt p{
  color: white;
  font-family: "Poppins" !important;
}

.navbarCol{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #4B7ADE 0%, #3599F6 100%);
}

  .iconContainer{
    background: #2E68D4;
    width: 234px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    padding-right: 15px;
  }

  .iconTxt{
    color: #FFFF;
    width: 130px;
    height: 29px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143.2%;
  }

.profileTxt{
    width: 169px;
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 350;
    display: inline;
    padding-bottom: 16px;
    text-align: center;
    color: white;
}

.profileImg{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.pageContainer{
    width: 234px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-top: 3px solid #69A7FC;
}

.pageContainer:active, .pageContainer:hover, .pageContainer:focus, .pageContainer:visited{
    background: linear-gradient(115.74deg, #83C2FE 1.79%, #3672F8 100%);
}

.pageImage{
  padding-right: 0.875rem;
}

.nav-content {
  display: flex;
  justify-content: start;
  min-height: 100vh;
  max-width: 12.2vw;
  background-color: linear-gradient(180deg, #4B7ADE 0%, #3599F6 100%);
}

.navHeader {
  display: flex;
  flex-direction:row;
  width: 100%;
  background: #2E68D4;
  justify-content: center;
  padding: 0.6rem 1.2rem;
}

.navPages > a{
  text-decoration: none;
}

.pageLink span{
  color: white;
  font-size: 1.1rem;
}

/* @media screen and (max-width: 1300px) {
  ul{
    min-height: 100vh;
    max-height: fit-content;
  }
} */