.location-card-div {
    padding: 2em;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.location-card {
    width: 450px;
    height: 303px;
    border-radius: 20px;
    cursor: pointer;
}


.location-card-content {
    margin-left: 20px;
}

.location-card-text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    white-space: nowrap;
}

.location-card-text2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    white-space: nowrap;
}

.location-card-text3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    white-space: nowrap;
}

.location-card-grid {
    padding-top: 120px;
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
}