.container-s {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    
}
.saved-header {
    display: flex;
    flex-direction: row;
}
.saved-header-icon {
    padding: 3%;
}
.saved-header-icon-img {
    width: 125%;
    height: auto;
}
.saved-header-title {
    text-align:center;
    font-size: 3.5rem;
    margin: auto 0 auto 0;
}
.saved-body {
    height: 100%;
    width: 100%;
    padding: 1%;
    overflow: scroll;
}
.saved-body-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    
}
.saved-activity-card {
    width: 18vw !important;
    min-width: 260px !important;
    height: 37vh !important;
    min-height: 320px !important;
    margin: 5%;
    margin-top: 0px;
}
.saved-activity-card-header {
    width: 100%;
    height: fit-content;
}
.saved-activity-card-body {
    width:100%;
    height: auto;
}