/* Remove Whitespace at top of react-app */
* {
    margin: 0;
    padding: 0;
}

.App-Content {
    display: flex;
    flex-direction: row;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/*
Website Standard Style Sheet css
*/

/* Font */

* {
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    font-stretch: expanded;
}

/* Shadows */

.btn-shadow-black {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.btn-shadow-black:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.btn-shadow-blue {
    box-shadow: 0px 10px 20px rgba(52, 154, 246, 0.5);
}

.btn-shadow-blue:hover {
    box-shadow: 0px 15px 30px rgba(52, 154, 246, 0.6);
}

.card-shadow:hover {
    box-shadow: 0 3.2px 2.1px -32px rgba(0, 0, 0, 0.102),
        0 8px 5.2px -32px rgba(0, 0, 0, 0.146),
        0 16.3px 10.6px -32px rgba(0, 0, 0, 0.184),
        0 33.6px 21.9px -32px rgba(0, 0, 0, 0.228),
        0 92px 60px -32px rgba(0, 0, 0, 0.33);
    transition: 0.3s;
}

/* Radius */

.radius-sm {
    border-radius: 10px;
}
.radius-sm {
    border-radius: 14px;
}
.radius-sm {
    border-radius: 20px;
}
.radius-sm {
    border-radius: 30px;
}

/* Buttons */

.btn-primary {
    height: 30px;
    width: 120px;
    background: linear-gradient(115.74deg, #83c2fe 1.79%, #3672f8 100%);
    border-radius: 30px;
    border: none;
    text-align: center;
}
.btn-primary:disabled {
    background: #f0f3f5;
}

hr {
    margin: 0 !important;
}

.btn-secondary {
    margin: 2%;
    text-align: center;
    padding: 10px 0%;
    width: 250px;
    height: 56px;
    background: linear-gradient(115.74deg, #14f1d9 1.79%, #3672f8 100%);
    border-radius: 40px;
    border: none;
    font-weight: 400;
    color: white;
    font-size: 24px;
    transition-duration: 0.4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: 160px;
}

.btn-secondary:hover {
    background: linear-gradient(#83c2fe, #83c2fe);
    transition-duration: 0.4s;
    backface-visibility: hidden;
    transition: background-color 1000ms linear;
}
.btn-secondary:focus {
    outline: none;
    transition-duration: 0.1s;
}
.btn-secondary:focus {
    outline: none;
}

.btn-secondary:disabled {
    background: #f0f3f5;
}

.btn-confirm {
    background: #22d792;
    border-radius: 20px;
}

.btn-confirm:hover {
    background: #05b672;
}

/* Form */

.form-input-light {
    border: 1px solid #c6d0eb !important;
    box-sizing: border-box !important;
    background: rgba(255, 255, 255, 0.15) !important;
    border-radius: 14px !important;
}
.form-input-dark {
    border: 1px solid #c6d0eb !important;
    box-sizing: border-box !important;
    background: rgba(255, 255, 255, 0.15) !important;
    border-radius: 14px !important;
}
.form-select {
    border-radius: 14px !important;
}

/* Feedback Indicators */

.progress-bar {
    height: 8px;
    width: 100%;
    background: linear-gradient(90deg, #5334f5 0%, #96ffec 100%);
    border-radius: 5px;
}

.points-bar {
    height: 8px;
    width: 100%;
    background: linear-gradient(0deg, #34f5c7, #34f5c7);
    border-radius: 5px;
}

/* Cards */

.card {
    width: 30vw;
    height: 33vh;
    border-radius: 25px !important;
}

/* Text Components */

.txt-comp-label {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 14px;
}
.txt-comp-number {
    width: 18px;
    height: 18px;
    background: #56ccf2;
    border-radius: 15px;
}

/* Navigation */

/* Front Page Background Elements */
.container-fp {
    position: relative;
    height: auto;
    overflow-x: hidden;
}
.page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.activePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #2f80ed !important;
}

#starIcon {
    height: 3vh;
    width: 2.2vw;
}
.frontPageBlob1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -999;
    height: auto;
    width: 100%;
}
.frontPageBlob2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    height: auto;
    width: 18%;
    min-width: 400px;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2.5%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    padding: 5% 5%;
    height: auto;
    width: 70px;
}

.logo-text {
    padding: 1% 15%;
    font-weight: 700;
    font-size: 35px;
    color: white;
}

.menu-items {
    display: flex;
    width: 39%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-items > a > div {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: black;
    text-decoration: none;
    margin-right: 0.2em;
}

.menu-items > a:hover {
    text-decoration: none;
}

/* Main-Content */

.main-content {
    height: 80vh;
    margin: 0 8%;
}

.view-landing {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 80%;
}

.view-landing-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 2%;
}

.left-title {
    font-size: 5.2rem !important;
    color: #3672f8;
    min-width: 200px;
    font-weight: 700;
}
.left-description {
    color: #69a7fc;
    font-size: 24px;
    margin-bottom: 0.67em;
}

.view-landing-right {
    padding-left: 10%;
}

.telescopeLady {
    height: auto;
    width: 100%;
    min-width: 600px;
}

.world-map {
    height: 100%;
    width: auto;
    margin: auto;
    text-align: center;
}
.world-map-img {
    width: 85vw;
}
.page2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
}
.page-title {
    padding-top: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 155.14%;
    color: #5e90f9;
    text-transform: uppercase;
}

.page-label {
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
}

.generated-trips {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.page3 {
    width: 100vw;
    height: auto;
    align-items: center;
    margin-bottom: 3.5%;
}

.experience-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.ec-right {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.ecr-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 1.7rem;
}
.ecr-item-clock {
    width: 50vw;
    height: auto;
    border-radius: 45px;
}

.page4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7%;
    align-items: center;
    height: 85vh;
}

.mobile-blob {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: auto;
    z-index: -999;
}
.mobile-div {
    background-image: url('./Components/svg/mobileBlob.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 100vw;
    height: 80vh;
}
.mobile-title {
    min-width: 200px;
    width: 70vw;
    padding-top: 5%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    text-align: left;
}
.mb-img {
    width: 17vw;
    margin-left: 10px;
}
.mb-sep {
    margin-bottom: 3%;
}
.mt-heading {
    font-size: 4.2vw;
    color: white;
    font-weight: 700;
    margin-right: 8vw;
}
.mt-description {
    color: white;
    font-size: 2rem !important;
}
.app-download {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    justify-content: space-between;
}
.apple-download,
.google-download {
    width: 280px;
    height: 87px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.apple-download div {
    margin-left: 10%;
}
.google-download div {
    margin-left: 10%;
}
.ad {
    display: flex;
    flex-direction: column;
}
.ad-title {
    text-transform: uppercase;
}

.google-download div {
    display: flex;
    flex-direction: column;
}
