.categories-grid {
    padding-left: 2em;
    width: 70%;
    padding-top: 50px;
}

.categories-text {
    padding-right: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #A2A2A2;
    cursor: pointer;
    transition: 0.5s;
}

.categories-text-selected {
    padding-right: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    color: #4B4B4B;
    text-decoration-line: underline;
    transition: 0.5s;
}