.Home {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.top {
  text-align: left;
  width: 100%;
}

.background-layer1 {
  width: 100%;
}
.menu {
  /* position: absolute; */
  /* top: 30%;
    left: 25%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-card {
  width: 488px;
  height: 303px;
  border-radius: 20px;
  cursor: pointer;
}

.location-card-content {
  margin-left: 20px;
}
.home-recommendations {
  padding: 2%;
}

.location-card-text1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  white-space: nowrap;
}

.location-card-text2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  white-space: nowrap;
}

.location-card-text3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  white-space: nowrap;
}

.location-card-grid {
  padding-top: 120px;
}

.nav-button-div {
  padding-top: 40px;
}

.right-arrow-btn {
  width: 50px;
  height: 50px;
}
