.placedropdown{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:flex-start;
    width: 100%;
    word-break: break-word;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.dropdown-item{
    width: 80%;
    word-break: break-word;
    cursor: pointer;
}
.selecter{
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    top: 100%;
    text-align: left;
    word-break: break-word;
}
.searchcard{
    width: 80%;
    background: rgb(248, 247, 249);
    border: 1px solid #4a4a4a;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    height: 18vh;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 3px;
    padding: 20px;
    /* position: absolute; */

}
.searchtop{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    width: 100%;
    height: 100%;
}

.left-searchcard{
    width: 100%;
    height: 5vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    border: 1px solid #dddfe2;
    cursor: pointer;
    
}

.inputbox{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 50%;
}


.searchlocation{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #4B4B4B;
    border: none;
    background: #FFFFFF;
    outline: none;
    word-wrap: break-word;
    height: 80%;
    width:100%;
    align-items: center;
    cursor: pointer;
}
.datepicker{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #4B4B4B;
    border: none;
    background: #FFFFFF;
    outline: none;
    word-wrap: break-word;
    height: 80%;
    width:100%;
    cursor: pointer;
}
.searchtop input {
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    color: #4B4B4B;
    border: none;
    background: #FFFFFF;
    outline: none;
    word-wrap: break-word;
    height: 80%;
    width:100%;
    cursor: pointer;
}
.line-vertical {
    height: 80%;
    border: 0.3px solid #B6CDDA;
}
.searchBtn{
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(115.74deg, #14F1D9 1.79%, #3672F8 100%);
    height: 5vh;
    border-radius: 5px;
    font-size: 1.5em;
    color:#FFFFFF;
    align-items: center;
    align-content: center;
   

}
.search-icon {
    align-items: center;
    align-content: center;
    padding: 0.5em;
    
  
}
.btn{
    width: 20%;
    border: none;
    outline: none;
    background:  #3672F8;
    border-radius: 5px;
    color:#FFFFFF;
    height: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
}
#numpeople{
    font-size: 20px;
    text-align: center;
    height: 100%;
    color: #4B4B4B;
    background: #FFFFFF;
    word-wrap: break-word;
    width: 10%;
}
.test{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#ptext{
    font-size: 15px;
    text-align: center;
    color: #4B4B4B;
    padding-top: 10px;
    padding-left: 5px;
}
@media screen and (max-width: 1200px) {

    .searchtop{
        grid-template-columns: repeat(1,2fr);
        gap: 0px;
    }
    .left-searchcard{
        height: 70%;
    }

    .searchcard{
        height: 30vh;
        width: 80%;
        top: 30%;
    }

    .searchtop input {
        font-style: normal;
        font-weight: bold;
        font-size: 0.5em;
        color: #4B4B4B;
        border: none;
        background: #FFFFFF;
        outline: none;
        word-wrap: break-word;
        height: 100%;
        width:100%;
        cursor: pointer;
    }
    .left-searchcard{
        width: 100%;
        height: 4vh;
    }
    .inputbox{
        height: 100%;
    }
    .search-icon {
       height: 35px;
        
      
    }
    .searchBtn{
        width: 100%;
        border: none;
        outline: none;
        background: linear-gradient(115.74deg, #14F1D9 1.79%, #3672F8 100%);
        height:4vh;
        border-radius: 5px;
        font-size: 0.5em;
        color:#FFFFFF;
        align-items: center;
        align-content: center;
    
    }

    .btn{
        width: 10%;
    }
    #numpeople{
        font-size: 0.8em;
        text-align: center;
        height: 100%;
        color: #4B4B4B;
        background: #FFFFFF;
        word-wrap: break-word;
        width: 10%;
    }
    .test{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    #ptext{
        font-size: 0.8em;
        text-align: center;
        color: #4B4B4B;
        padding-top: 10px;
        padding-left: 5px;
    }
} 