.activity-block {
    width: 100vw;
    height: auto;
    max-width: 50vw;
    align-items: left;
    margin-bottom: 3.5%;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.activity-card{
    margin: 2%;
    background-image: url('../../../Images/home-card-bg2.svg');
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

.activity-img-backdrop {
    height: inherit;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
}

.activity-description{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 2%;
}

.activity-label{
    margin-top: 7%;
    margin-left: 4%;
}

.activity-price{
    font-size:40px;

}

.main{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.header-text{
    background-image: url('../../../Images/header-bg.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 28vh;
    padding-bottom: 3%;
    padding-top: 1%;
}
.activities-tripday-block {
    margin: 2% 0%;
}
.activities-block {
    padding: 2%;
}