.body {
    padding-left: 434px;
    padding-right: 200px;
    padding-bottom: 30px;
}

.account-icon {
    width: 36px;
    height: 36px;
}

.page-title-div {
    padding-left: 264px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.page-title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 143.2%;
}

.profile-pic-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera-icon {
    position: absolute;
    width: 192px;
    height: 192px;
    margin-left: -192px;
    padding: 71px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0%;
}

.profile-img {
    border-radius: 50%;
    width: 192px;
    height: 192px;
}

.camera-icon:hover {
    opacity: 100%;
    cursor: pointer;
}

.name-text {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 155.14%;
}

.form-details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.form-details-title-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.textbox-icon {
    margin-top: -15px;
    width: 30px;
    height: 30px;
}

.textbox-header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 143.2%;
    padding-bottom: 5px;
}

.textbox-item {
    padding-bottom: 20px;
}

.textbox {
    background: #F2F2F2;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 143.2%;
}

.save-btn-div {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.save-btn {
    width: 219px;
    height: 50px;
    background: linear-gradient(115.74deg, #83C2FE 1.79%, #3672F8 100%);
    box-shadow: 0px 15px 30px rgba(47, 128, 237, 0.75);
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.line {
    width: 100%;
    height: 0px;
    border: 2px solid #3895F3;
}

.deactivate-btn {
    width: 219px;
    height: 50px;
    background: linear-gradient(90deg, #FFA0A0 -13.01%, #FF2727 123.97%);
    box-shadow: 0px 15px 30px rgba(255, 76, 76, 0.5);
    border-radius: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.deactivate-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 20px;
}

.deactivate-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 143.2%;
}

.deactivate-body-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deactivate-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 143.2%;
}

.padding-right-10px {
    padding-right: 10px;
}

.padding-right-20px {
    padding-right: 20px;
}

@media screen and (max-width: 1110px) {
    .body {
        padding-left: 32%;
        padding-right: 12%;
    }
    .page-title-div {
        padding-left: 30%;
    }
    .page-title-text {
        font-size: 24px;
    }
    .name-text {
        font-size: 22px;
    }
    .textbox-header {
        font-size: 14px;
    }
    .textbox {
        font-size: 14px;
    }
    .save-btn {
       width: 28vw;
       font-size: 14px;
    }
    .deactivate-btn {
        width: 28vw;
        font-size: 14px;
    }
    .deactivate-heading {
        font-size: 22px;
    }
    .deactivate-text {
        font-size: 16px;
    }
 }